.project
*.tmproj
*.esproj
.com.apple.*
.DS_Store
.rspec-tm

*~
*.bak
*.log
*.pid
*_.*
*._*

.bundle
db/*.sqlite3
db/schema.rb
log/*.log
tmp/**/*
!tmp/sockets/*
public/system/*
public/stylesheets/*.css
config/database.yml
.idea
db/sphinx/*
!db/sphinx/.gitkeep
coverage/
coverage.data
.project
